<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">EmployeeManagement.Web</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/editemployee" @onclick="HandleClickCreate" Match="NavLinkMatch.All">
                        <span class="oi oi-file" aria-hidden="true"></span> Create
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/editemployee/1" @onclick="HandleClickEdit" Match="NavLinkMatch.All">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Edit
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/identity/account/logout" Match="NavLinkMatch.All">
                        <span class="oi oi-power-standby" aria-hidden="true"></span> Logout
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/identity/account/login" Match="NavLinkMatch.All">
                        <span class="oi oi-lock-locked" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
            </NotAuthorized>

            
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    private void HandleClickCreate()
    {
        NavigationManager.NavigateTo("editemployee", true); //bypass client side routing and force the server to load the component
    }

    private void HandleClickEdit()
    {
        NavigationManager.NavigateTo("editemployee/1", true); 
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
